header{
    background-color: tomato;
 }
 h1{
    text-align: center;
 }
 nav{
    padding: 3px;
 }
 .nav ul li{
    background-color: rebeccapurple;
    padding: 9px;
    margin: 3px;
    display: inline-block;
    border: 2px solid peachpuff;
    list-style: none;
    @media(max-width: 481px){
        display: inline-block;
        font-size: small;
        padding: 6px;
        margin: 3px;
    }
    
}
a{
    color: palegoldenrod;
    font-size: large;
    text-decoration: none;
    @media(max-width:481px){
        font-size: small;
    }
}
a:hover{
    color: peachpuff;
    font-size: x-large;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: palegoldenrod;
    @media(max-width:769px){

        background-color: thistle;
    }
}
.paragraph{
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto;
    gap:10px;

}
.p1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid black;
    padding: 5px;
    gap: 5px;
}
p::first-letter{
    font-size: x-large;
}
li::marker{
    color: red;
    font-size: 23px;
}
.con a{
    color: black;
    text-align: center;
    justify-content: center;
    align-items: center;
 }